{{define "index"}}
<div id="index">
  <div
    x-data="{
      // AlpineJS x-data (Adding this block to an external js file or
      // even in a separate script tag would cause race conditions errors )
      isLoading: false,
      chats: [],
      async get() {
        this.isLoading = true;
        await fetch('/api/chat/')
          .then((res) => res.json())
          .then((res) => { this.isLoading = false; this.chats = res; });
      }
    }"
    x-init="
      // After AlpineJS starts it executes this method that fetches all chats
      // and places them in the DOM with the x-for
      await get()
    "
    x-cloak
    x-transition
  >
    <div class="row g-5 my-1 mx-2 text-center">
      <ul class="list-unstyled mt-3 mb-4 row">
        <!-- For loop with alpine -->
        <template x-for="chat in chats">
          <li class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card mb-4 rounded-3 shadow-sm" style="height: 180px">
              <div
                class="card-header py-3 h-50 d-flex align-items-center justify-content-center"
              >
                <h4 class="my-0 fw-normal" x-text="chat.name"></h4>
              </div>
              <div
                class="card-body h-50 d-flex align-items-center justify-content-center"
              >
                <button
                  type="button"
                  class="w-100 btn btn-lg btn-outline-primary"
                  x-bind:hx-get="chat.href"
                  hx-target="main#main"
                  hx-select="#content"
                  hx-swap="innerHTML"
                  hx-push-url="true"
                >
                  Join Chat
                </button>
              </div>
            </div>
          </li>
        </template>
        <!-- End for loop -->
      </ul>
    </div>
  </div>
</div>
{{end}}
