{{define "nav"}}
<script src="/js/utils/fetches.js"></script>
<nav
  class="navbar navbar-expand-lg bg-body-tertiary rounded"
  aria-label="GoChatWs navbar"
>
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#gochaws-nav"
      aria-controls="gochaws-nav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="gochaws-nav">
      <ul class="navbar-nav d-flex col-md-12">
        <div class="row w-100">
          <li class="nav-item col-lg-3 col-md-12">
            <a
              class="nav-link active"
              role="button"
              hx-get="/"
              hx-target="body"
              hx-push-url="true"
              hx-swap="transition:true"
              >GoChatWs</a
            >
          </li>
          {{if .User}}
          <li class="nav-item col-lg-4 ms-auto">
            <a
              class="btn btn-primary ms-auto"
              role="button"
              data-bs-toggle="modal"
              data-bs-target="#create-chat-modal"
              title="Create a new Chat Room"
              >+</a
            >
          </li>
          <li class="nav-item dropdown col-lg-3 ms-auto">
            <a
              class="nav-link dropdown-toggle px-4"
              href="#"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              >{{.User.GetName}}</a
            >
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Edit</a></li>
              <li>
                <a
                  class="dropdown-item"
                  hx-delete="/api/logout"
                  hx-swap="none"
                  hx-on::after-request="
                    fetchTransitionAndDispatches('/', {
                      detail: {
                        message: 'You are logged out', class: 'alert-success'
                      }
                    });
                  "
                  role="button"
                  >Logout</a
                >
              </li>
            </ul>
          </li>
          {{end}}
        </div>
      </ul>
    </div>
  </div>
</nav>
<div
  id="generic-alert"
  class="col-sm-5 alert fade hidden"
  role="alert"
  style="position: fixed; top: 90vh; right: 2vw; z-index: 999;"
  x-data="{
    msg: '',
    show(msg, cls) {
      this.msg = msg;

      setTimeout(() => {
        htmx.toggleClass($el, cls);
        htmx.toggleClass($el, 'hidden');
        setTimeout(() => {
          htmx.toggleClass($el, 'hidden');
          setTimeout(() => {
            htmx.toggleClass($el, cls);
            this.msg = '';
          }, 500)
        }, 5000);
      }, 100);

    }
  }"
  x-text="msg"
  @alert-message="show($event.detail.message, $event.detail.class)"

></div>
{{template "create-chat-modal" .}} {{end}}
