{{define "register"}}
<div id="content">
  <script src="/js/alpine/register.js"></script>
  <main>
    <div class="py-5 text-center"></div>
    <div class="row g-5">
      <form
        id="register_form"
        x-data="{register: register}"
        @submit.prevent="register"
      >
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-8">
            <div class="mt-2">
              <label for="name" class="form-label">Password</label>
              <input
                type="text"
                id="name"
                name="name"
                placeholder="John Smith"
                class="form-control"
              />
            </div>
            <div class="mt-2">
              <label for="username" class="form-label">Email</label>
              <input
                type="text"
                id="username"
                name="username"
                placeholder="your@email.com"
                class="form-control"
              />
            </div>
            <div class="mt-2">
              <label for="password" class="form-label">Password</label>
              <input
                type="password"
                id="password"
                name="password"
                placeholder="**********"
                class="form-control"
              />
            </div>
            <div class="mt-2">
              <label for="password2" class="form-label">Confirm Password</label>
              <input
                type="password"
                id="password2"
                name="password2"
                placeholder="**********"
                class="form-control"
              />
            </div>
            <div class="mt-3 d-flex col-md-12">
              <button type="submit" class="col-md-5 btn btn-primary">
                Confirm
              </button>
              <button
                type="button"
                class="col-md-5 btn btn-outline-primary ms-auto"
                hx-get="/login"
                hx-target="main#main"
                hx-swap="innerHTML"
                hx-select="#content"
                hx-push-url="true"
              >
                Login
              </button>
            </div>
            <div
              id="registerAlert"
              class="my-4 text-center alert alert-danger collapse"
            ></div>
          </div>
        </div>
      </form>
    </div>
  </main>
</div>
{{end}}
